/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  /* border: 0; */
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  margin-bottom: 10%;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
}

* {
  /* border: 1px solid rgb(196, 108, 0); */
  font-family: monospace;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100%;
}

#logo {
  background-image: url("https://msspricess.b-cdn.net/logo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  margin-top: 2%;
  margin-bottom: 2%;
  height: 10vh;
}

h1 {
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  font-weight: bold;
  margin: 1%;
}

h2 {
  font-size: 2.5rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  font-family: monospace;
  margin: 0% 1%;
}

#internal {
  font-size: 2.5rem;
  color: rgb(196, 108, 0);
  font-weight: bold;
}

#net {
  font-size: 2.5rem;
  color: rgb(196, 108, 0);
  font-weight: bold;
}

h3 {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1;
  font-family: monospace;
  margin: 1%;
}

p.signalKey {
  font-size: 2.5rem;
}

hr {
  border: 2px dashed black;
  margin-right: 3%;
  margin-left: 3%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.soldStats {
  display: flex;
  justify-content: center;
  color: chocolate;
}

.buyStats {
  display: flex;
  justify-content: center;
  color: crimson;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1%;
  margin-bottom: 5%;
}

li {
  font-family: monospace;
  font-size: 2.4rem;
  margin: 0.5% 0%;
}

p {
  display: flex;
  justify-content: center;
  line-height: 2;
  font-size: 2.1rem;
  font-family: monospace;
  font-weight: bold;
}

#avgBuy,
#avgSell {
  color: black;
  font-weight: bold;
  font-size: 3rem;
}

#totalSold {
  text-align: center;
  color: chocolate;
  font-size: 3rem;
  text-decoration: underline;
  margin-top: 4%;
}

#totalBought {
  text-align: center;
  color: crimson;
  font-size: 3rem;
  text-decoration: underline;
  margin-top: 4%;
}

#sell {
  color: chocolate;
  font-weight: bold;
}

#buy {
  color: crimson;
  font-weight: bold;
}

#price {
  color: red;
  font-weight: bold;
}

.price {
  color: red;
  font-size: 2.5rem;
  font-weight: bold;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: auto;
  padding: 3%;
  font-size: 2.7rem;
  font-family: monospace;
  line-height: 1.5;
}

.row1 .row2 .row3 .row4 .row5 {
  display: flex;
  justify-content: space-around;
  font-family: monospace;
}

.rowProfit {
  color: green;
  font-weight: bold;
}

.rowLoss {
  color: red;
  font-weight: bold;
}

h1.today {
  font-size: 3rem;
  text-decoration: underline;
  text-align: center;
  line-height: 1.5;
}

.hide {
  display: none;
}

#key {
  font-size: 2rem;
}

h3.numIdx {
  width: 30px;
  line-height: 30px;
  border-radius: 50%;
  text-align: center;
  font-size: 2.5rem;
  border: 2px solid #666;
  margin: 0;
  padding: 0;
  font-family: monospace;
}

.divHolder {
  border: 2px dashed black;
  width: 90%;
  margin: auto;
  padding: 3%;
}

.index {
  color: gray;
  font-weight: 100;
}

.btnHolder {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 4%;
}

a {
  text-decoration: none;
}

button.kenz {
  margin-top: 2%;
  margin: 1%;
  display: flex;
  font-size: 1.75rem;
  font-weight: 600;
  border-radius: 30px;
  border: 10px solid saddlebrown;
  background-color: saddlebrown;
  color: #fff;
  font-family: monospace;
  vertical-align: middle;
}

button.qab {
  margin-top: 2%;
  margin: 1%;
  display: flex;
  font-size: 1.75rem;
  font-weight: 600;
  border-radius: 30px;
  border: 10px solid maroon;
  background-color: maroon;
  color: #fff;
  font-family: monospace;
  vertical-align: middle;
}

.eventCard {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 75%;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 2%;
  border: 2px black dotted;
}

.eventCardStriked {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 75%;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 2%;
  border: 2px black dotted;
  text-decoration: line-through;
}

.timeBH {
  color: crimson;
  font-size: 2rem;
  line-height: 1.5;
}

.eventP {
  color: black;
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 500;
}

div.eventCard > p:first-child {
  text-decoration: underline;
}

span.signalSign {
  font-size: 1.3rem;
  vertical-align: middle;
}

.liveP {
  color: crimson;
  font-weight: bold;
  font-size: 3rem;
}

.dataP {
  font-size: 2.5rem;
}

#dailyProfit {
  font-size: 2.5rem;
}

.livePL {
  text-align: center;
  word-wrap: break-word;
}

.livePLDiv {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: auto;
}

.livePLDiv > table {
  font-size: 1.9rem;
}

.livePLDiv > table,
td,
tr {
  border-collapse: collapse;
  font-family: monospace;
}

.livePLDiv > table > tr:first-child {
  font-size: 2rem;
  font-weight: bold;
}

.livePLDiv > table > tr:last-child {
  font-size: 2rem;
  font-style: italic;
}

.livePLDiv > p:first-child {
  text-align: center;
  width: 90%;
}

.livePLDiv > p {
  text-align: center;
  width: 95%;
}

#oldUnfixSection {
  display: none;
  flex-direction: column;
}

.livePLHolder {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#sellPL {
  text-align: center;
  border: 1px dashed black;
}

.physicalUnfixed {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 3%;
  margin-bottom: 5%;
}

.physicalUnfixed > table {
  font-family: monospace;
  margin: 5%;
  font-size: 2rem;
}

.physicalUnfixed > table tr > td:nth-child(3) {
  font-size: 1.7rem;
}

.physicalUnfixed > table,
td,
tr,
th {
  border: 1px solid black;
  background-color: #f8f8f8;
  padding: 8px;
  text-align: center;
}

.physicalUnfixed > table th {
  background-color: black;
  border: 1px solid black;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 2rem;
}

.hider {
  display: none;
}

.sausage-links {
  position: relative;
}
.sausage-links:before,
.sausage-links:after {
  content: "";
  height: calc(100% - 2em);
  pointer-events: none;
  position: absolute;
  top: 1em;
  width: 10px;
  z-index: 2;
}
.sausage-links:before {
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 100%);
  right: 0;
}
.sausage-links:after {
  background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, white 100%);
  left: 0;
}
.sausage-links ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: auto;
  padding: 1em 0;
  -webkit-overflow-scrolling: touch;
  justify-content: start;
}
.sausage-links ul li {
  padding: 0 8px;
  white-space: nowrap;
}
.sausage-links ul li a,
.sausage-links ul li a:visited {
  border: 1px solid black;
  border-radius: 50px;
  color: black;
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
}
.sausage-links ul li a:hover {
  background: chocolate;
  border-color: chocolate;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 90, 156, 0.15);
}

.loadingDiv {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-family: monospace;
}
.sbl-circ {
  height: 48px;
  width: 48px;
  margin-left: auto;
  margin-right: auto;
  color: #5a5a5a;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: 5px solid;
  border-radius: 50%;
  border-top-color: transparent;
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.container {
  width: 80%;
  margin: auto;
  text-align: center;
  text-align: center;
}

.progress2 {
  padding: 1px;
  border-radius: 10px;
  background: black;
}

.progress-bar2 {
  height: 15px;
  border-radius: 10px;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.05)
  );
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.progress-moved .progress-bar2 {
  width: 100%;
  background-color: chocolate;
  animation: progressAnimation 8.5s;
}

@keyframes progressAnimation {
  0% {
    width: 1%;
    background-color: chocolate;
  }
  100% {
    width: 100%;
    background-color: chocolate;
  }
}

@media (max-width: 520px) {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: 100%;
  }

  h1 {
    font-size: 3.5rem;
    padding: 1%;
  }

  h1.today {
    font-size: 2.7rem;
  }

  h2 {
    font-size: 2.4rem;
    padding: 0% 1%;
  }

  .liveP {
    font-size: 2.7rem;
  }

  .dataP {
    font-size: 2.3rem;
  }

  p.signalKey {
    font-size: 2.3rem;
  }

  #avgBuy,
  #avgSell {
    font-size: 2.7rem;
  }

  #totalSold,
  #totalBought {
    font-size: 2.7rem;
  }

  li {
    font-size: 2.2rem;
  }

  #internal {
    font-size: 2rem;
  }

  #net {
    font-size: 2rem;
  }

  h3 {
    font-size: 2rem;
    font-weight: bold;
  }

  p {
    font-size: 2rem;
  }

  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: auto;
    line-height: 1.5;
    font-family: monospace;
    font-size: 2.6rem;
  }

  .row1 .row2 .row3 .row4 .row5 .row6 {
    display: flex;
    justify-content: space-around;
  }

  span.signalSign {
    font-size: 1rem;
  }
}

@media (max-width: 465px) {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: 100%;
  }

  span.signalSign {
    font-size: 0.7rem;
  }

  h1 {
    font-size: 3rem;
    padding: 1%;
  }

  h1.today {
    font-size: 2.3rem;
  }

  h2 {
    font-size: 2rem;
    padding: 0% 1%;
  }

  .liveP {
    font-size: 2.5rem;
  }

  .dataP {
    font-size: 2.1rem;
  }

  li {
    font-size: 2.1rem;
  }

  #internal {
    font-size: 2rem;
  }

  #net {
    font-size: 2rem;
  }

  p.signalKey {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.8rem;
    font-weight: bold;
  }

  p {
    font-size: 2rem;
  }

  #dailyProfit {
    font-size: 2.5rem;
  }

  .card {
    font-size: 2.3rem;
  }

  p.unfixStats {
    font-size: 1.9rem;
  }
}

@media (max-width: 440px) {
  .livePLDiv > table {
    font-size: 1.8rem;
  }
  li {
    font-size: 1.9rem;
  }

  .liveP {
    font-size: 2.3rem;
  }

  .dataP {
    font-size: 2rem;
  }

  #avgBuy,
  #avgSell {
    font-size: 2.5rem;
  }

  #totalSold,
  #totalBought {
    font-size: 2.5rem;
  }

  .physicalUnfixed > table {
    font-family: monospace;
    margin: 5%;
    font-size: 1.8rem;
  }

  .physicalUnfixed > table tr > td:nth-child(3) {
    font-size: 1.5rem;
  }

  .physicalUnfixed > table th {
    font-size: 1.8rem;
  }
}

@media (max-width: 390px) {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: 100%;
  }

  h1 {
    font-size: 2.5rem;
    padding: 1%;
  }

  h1.today {
    font-size: 2rem;
  }

  .liveP {
    font-size: 2rem;
  }

  .dataP {
    font-size: 1.8rem;
  }

  p.signalKey {
    font-size: 1.7rem;
  }

  h2 {
    font-size: 2rem;
    padding: 0% 1%;
  }

  #internal {
    font-size: 2rem;
  }

  #net {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.8rem;
    font-weight: bold;
  }

  #avgBuy,
  #avgSell {
    font-size: 2.1rem;
  }

  #totalSold,
  #totalBought {
    font-size: 2.1rem;
  }

  p {
    font-size: 1.8rem;
  }

  li {
    font-size: 1.8rem;
  }

  #dailyProfit {
    font-size: 2rem;
  }

  .card {
    font-size: 2rem;
  }

  p.unfixStats {
    font-size: 1.7rem;
  }
}

@media (max-width: 370px) {
  .livePLDiv > table {
    font-size: 1.5rem;
  }
  li {
    font-size: 1.6rem;
  }
  .card {
    font-size: 1.8rem;
  }

  .physicalUnfixed > table {
    font-family: monospace;
    margin: 5%;
    font-size: 1.5rem;
  }

  .physicalUnfixed > table tr > td:nth-child(3) {
    font-size: 1.2rem;
  }

  p.unfixStats {
    font-size: 1.5rem;
  }

  .physicalUnfixed > table th {
    font-size: 1.5rem;
  }
}

@media (max-width: 330px) {
  #logo {
    margin-top: 5%;
    height: 7vh;
  }

  .liveP {
    font-size: 1.7rem;
  }

  .dataP {
    font-size: 1.6rem;
  }

  #avgBuy,
  #avgSell {
    font-size: 1.7rem;
  }

  #totalSold,
  #totalBought {
    font-size: 1.7rem;
  }

  button.kenz,
  button.qab {
    font-size: 1.3rem;
  }

  h1 {
    font-size: 2rem;
    padding: 1%;
  }

  h1.today {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.7rem;
    padding: 0% 1%;
  }

  p.signalKey {
    font-size: 1.4rem;
  }

  #internal {
    font-size: 1.5rem;
  }

  #net {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: bold;
  }

  p {
    font-size: 1.5rem;
  }

  li {
    font-size: 1.3rem;
  }

  #key {
    font-size: 1.5rem;
  }

  .card {
    font-size: 1.7rem;
  }

  .eventP,
  .timeBH {
    font-size: 1.5rem;
  }

  #dailyProfit {
    font-size: 1.6rem;
  }

  .physicalUnfixed > table {
    font-family: monospace;
    margin: 5%;
    font-size: 1.2rem;
  }

  .physicalUnfixed > table tr > td:nth-child(3) {
    font-size: 0.9rem;
  }

  .physicalUnfixed > table,
  td,
  tr,
  th {
    padding: 4px;
  }

  .physicalUnfixed > table th {
    font-size: 1.2rem;
    text-align: center;
  }
}
